* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0 !important;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

q:after,
q:before {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
select {
  outline: medium none;
  vertical-align: middle;
}

input {
  -webkit-appearance: none;
}

legend {
  color: #000;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html {
  width: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*单行文本省略号*/

.word {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.words2 {
  display: -webkit-box;
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*多行文本省略号*/

.words3 {
  display: -webkit-box;
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/*垂直居中,容器设置宽高*/

.ycenter {
  align-items: center;
  display: -webkit-flex;
}

/*水平居中,容器设置宽高*/

.xcenter {
  justify-content: center;
  display: -webkit-flex;
}

/*盒子布局*/

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/*弹性布局水平垂直居中 兼容性高*/

.xycenterbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

/*弹性布局水平居中 兼容性高*/

.xcenterbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/*弹性布局垂直居中 兼容性高*/

.ycenterbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

/*0.5px底边框*/

.bottomLine {
  background: -webkit-linear-gradient(top, transparent 50%, #ebebeb 50%) center bottom no-repeat;
  background: -moz-linear-gradient(top, transparent 50%, #ebebeb 50%) center bottom no-repeat;
  background: -ms-linear-gradient(top, transparent 50%, #ebebeb 50%) center bottom no-repeat;
  background-size: 100% 1px;
}

/*设置隐藏*/

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}