/*iphone678状态栏*/

.ioswrapMax {
  padding-top: 65px !important;
}

.ioswrapMax .head {
  height: 45px !important;
  padding-top: 20px !important;
}

/*iphone678plus状态栏*/

.iospluswrapMax {
  padding-top: 75px !important;
}

.iospluswrapMax .head {
  height: 45px !important;
  padding-top: 30px !important;
}

/*iphoneX状态栏*/

.iosxwrapMax {
  padding-top: 89px !important;
}

.iosxwrapMax .head {
  height: 45px !important;
  padding-top: 44px !important;
}

/* 跳转页面 */

.skip .main {
  padding: 8rem 0 1rem 0;
}

.skip .main img.logo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-bottom: 5rem;
}

.skip .main p {
  font-size: .85rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #373737;
}

.skip .main img.load {
  width: 4.40625rem;
  height: 1.96875rem;
}

.skip>.wrapMax,
.shareLink {
  display: none;
}

#tipsimg {
  display: none;
  width: 100%;
}

.skipBg {
  width: 100%;
  background: #fef6e9 url('../image/bg_skip.jpg') no-repeat center top;
  background-size: 100% auto;
  overflow-y: scroll;
}

/* 主页面 */

body.adaptive,
body.answer {
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
  background: #fef6e9;
  overflow-y: scroll;
  padding-top: 45px;
}

body.adaptive {
  background: #fef6e9;
}

body.answer,
body.answer .head {
  background: #fff;
}

.head {
  width: 94%;
  height: 45px;
  padding: 0 3%;
  padding-top: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background: #fef6e9;
}

.head .headl {
  position: absolute;
  margin-top: 15px;
  width: 20px;
  height: 18px;
}

.head .headl img {
  width: 10px;
  height: 17px;
}

.head .headTitle {
  line-height: 45px;
  font-size: 18px;
  text-align: center;
}

.head .headr {
  position: absolute;
  right: .46875rem;
  bottom: 13px;
}

.head .headr .share {
  width: 25px;
  height: 20px;
  margin-right: .46875rem;
}

.head .headr .share img {
  width: 20px;
  height: 17px;
}

.head .headr .exit {
  width: 27px;
  height: 20px;
}

.head .headr .exit img {
  width: 17px;
  height: 17px;
}

.main,
.main .tit,
.main .begin,
.main .rule {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

.main .tit {
  background-image: url('../image/bg_main_1.jpg');
}

.main .begin {
  background-image: url('../image/bg_main_2.jpg');
}

.main .rule {
  background-image: url('../image/bg_main_3.jpg');
}

.main .begin ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 2.1875rem 2.03125rem 0 2.03125rem;
  width: calc(100% - 4.0625rem);
}

.main .begin ul li {
  display: block;
  float: left;
  width: calc(100% / 5);
  height: 10.1875rem;
  text-indent: -99999px;
}

.main .begin ul li.state-1-1,
.main .begin ul li.state-1-2,
.main .begin ul li.state-1-3,
.main .begin ul li.state-1-4,
.main .begin ul li.state-1-5,
.main .begin ul li.state-2-1,
.main .begin ul li.state-2-2,
.main .begin ul li.state-2-3,
.main .begin ul li.state-2-4,
.main .begin ul li.state-2-5,
.main .begin ul li.state-3-1,
.main .begin ul li.state-3-2,
.main .begin ul li.state-3-3,
.main .begin ul li.state-3-4,
.main .begin ul li.state-3-5 {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
}

.main .begin ul li.state-1-1 {
  background-image: url('../image/1-1.png');
}

.main .begin ul li.state-1-2 {
  background-image: url('../image/1-2.png');
}

.main .begin ul li.state-1-3 {
  background-image: url('../image/1-3.png');
}

.main .begin ul li.state-1-4 {
  background-image: url('../image/1-4.png');
}

.main .begin ul li.state-1-5 {
  background-image: url('../image/1-5.png');
}

.main .begin ul li.state-2-1 {
  background-image: url('../image/2-1.png');
}

.main .begin ul li.state-2-2 {
  background-image: url('../image/2-2.png');
}

.main .begin ul li.state-2-3 {
  background-image: url('../image/2-3.png');
}

.main .begin ul li.state-2-4 {
  background-image: url('../image/2-4.png');
}

.main .begin ul li.state-2-5 {
  background-image: url('../image/2-5.png');
}

.main .begin ul li.state-3-1 {
  background-image: url('../image/3-1.png');
}

.main .begin ul li.state-3-2 {
  background-image: url('../image/3-2.png');
}

.main .begin ul li.state-3-3 {
  background-image: url('../image/3-3.png');
}

.main .begin ul li.state-3-4 {
  background-image: url('../image/3-4.png');
}

.main .begin ul li.state-3-5 {
  background-image: url('../image/3-5.png');
}

.main .begin a {
  display: block;
  margin: 1.4375rem auto .625rem auto;
  width: 8.28125rem;
  height: 3.375rem;
  text-indent: -99999px;
  background: url('../image/but_begin.png') no-repeat center center;
  background-size: 100% 100%;
}

.main .begin span {
  font-size: .75rem;
  font-weight: bold;
  color: #261400;
}

.main .begin span s {
  text-decoration: none;
}

.main .rule a {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 14rem auto 0 auto;
  width: 5.5625rem;
  height: 2.34375rem;
  text-indent: -99999px;
  background: url('../image/but_share.png') no-repeat center center;
  background-size: 100% 100%;
}

/* 结果页 */

.result {
  width: 100%;
  background: url('../image/bg_result.jpg') no-repeat center top;
  background-size: 100% auto;
}

.result>p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 8.4375rem 7rem .5625rem 7rem;
  font-size: .875rem;
  color: #7e2026;
}

.result s {
  text-decoration: none;
}

.result .tit-1,
.result .tit-2,
.result .tit-3,
.result .tit-4,
.result .tit-5,
.result .tit-lose {
  margin: 0 auto;
  display: block;
  width: 3.375rem;
  height: 11.65625rem;
  text-indent: -99999px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
}

.result .tit-1 {
  background-image: url('../image/tit_1.png');
}

.result .tit-2 {
  background-image: url('../image/tit_2.png');
}

.result .tit-3 {
  background-image: url('../image/tit_3.png');
}

.result .tit-4 {
  background-image: url('../image/tit_4.png');
}

.result .tit-5 {
  background-image: url('../image/tit_5.png');
}

.result .tit-lose {
  background-image: url('../image/tit_lose.png');
}

.result>a {
  display: block;
  margin: 0 auto;
  width: 6.96875rem;
  height: 2.875rem;
  text-indent: -99999px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
}

.result>a.name {
  margin-top: 1.25rem;
  background-image: url('../image/but_name.png');
}

.result>a.keep {
  margin-top: .9375rem;
  background-image: url('../image/but_keep.png');
}

.result>a.again {
  margin-top: 1.875rem;
  background-image: url('../image/but_again.png');
}

.result>span {
  font-size: .625rem;
  color: #7e2026;
}

/* 答题页 */

.topicImg,
.topicImg img {
  width: 100%;
  font-size: 0;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
}

.topicTitle {
  width: 80%;
  height: 4rem;
  padding: 2.5rem 10% 0 10%;
  font-size: .875rem;
  font-weight: bold;
  color: #191919;
  background: url('../image/img_answer_a.png') no-repeat center bottom;
  background-size: 100% auto;
}

.topicOptions {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: calc(100% - 2.4375rem);
  height: 14.5rem;
  margin: 0 1.21875rem;
}

.topicOptions li {
  display: block;
  float: left;
  width: calc(100% / 4 - 4.25rem);
  height: 100%;
  padding: 0 2.125rem;
  font-size: .875rem;
  color: #191919;
  background: url('../image/img_answer_li.png') no-repeat center top;
  background-size: auto 100%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: left;
  letter-spacing: .1rem;
  white-space: nowrap;
  counter-increment: list;
  position: relative;
}

.topicOptions li:before {
  margin: 3rem 0 -.8rem 0;
  content: counter(list, upper-alpha);
}

.topicState {
  width: 90%;
  height: 5.46875rem;
  line-height: 5.46875rem;
  margin: 0 5%;
  font-size: .8125rem;
  font-weight: bold;
  color: #7d1112;
}

.topicState img {
  width: .875rem;
  height: 1.0625rem;
}

.topicState s {
  text-decoration: none;
}

.inp-radio {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  padding: 5px;
  width: .5rem;
  height: .5rem;
  margin-left: -.7rem;
  border-radius: 50%;
  border: 1px solid #a9a9a9;
  box-shadow: 0 0 0 .2rem #fff inset;
  background-color: #a9a9a9;
}

.selected .inp-radio {
  border: 1px solid #7d1112;
  background-color: #7d1112;
}

/* 弹窗 */

.popbg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.popbg .popBox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 96%;
  padding: 0 2%;
}

.popbg .popBox div {
  background: white;
  border-radius: .625rem;
  overflow: hidden;
  margin-bottom: .5rem;
}

.popbg .popBox div p {
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1rem;
  text-align: center;
  color: #008eff;
}

.popbg .popBox div:first-child p:first-child {
  background: -webkit-linear-gradient(top, transparent 50%, #141329 50%) center bottom no-repeat;
  background: -moz-linear-gradient(top, transparent 50%, #141329 50%) center bottom no-repeat;
  background: -ms-linear-gradient(top, transparent 50%, #141329 50%) center bottom no-repeat;
  background-size: 100% 1px;
}

.box {
  background-color: #1c1a39;
  box-shadow: inset 0px 0px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
}

@keyframes bounceInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 4rem, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation: bounceInUp 0.2s linear;
}

.rankingList {
  margin: 0 auto .416667rem;
  font-size: .894062rem;
  font-weight: 600;
  color: #a92f2c;
  height: .9375rem;
  line-height : .9375rem;
}
.rankingList span {
  background: url("../image/ranking.png") no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 11.34375rem;
  height : .9375rem;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.rankingGrade {
  margin: 0 auto;
  width: 11.34375rem;
  height: .90625rem;
}
.rankingGrade1{
  background: url("../image/ranking1.png") no-repeat;
  background-size: 100%;
}
.rankingGrade2 {
  background: url("../image/ranking2.png") no-repeat;
  background-size: 100%;
}
.rankingGrade3 {
  background: url("../image/ranking3.png") no-repeat;
  background-size: 100%;
  width: 10.03125rem;
  height: 2.0625rem;
}