<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>博物馆知识竞赛</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <meta name="format-detection" content="telephone=no, email=no">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <link rel="stylesheet" href="/assets/css/public.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body onselectstart="return false" class="answer">
  <div class="wrapMax">
    <div class="head">
      <div class="headl fl">
        <!--<img src="/assets/image/back.png">-->
      </div>
      <p class="headTitle">博物馆知识竞赛</p>
      <div class="headr">
        <div class="exit fr" onclick="answerexit();">
          <img src="/assets/image/exit.png">
        </div>
        <div class="share fr">
          <img src="/assets/image/share.png">
        </div>
      </div>
    </div>
    <div class="main">
      <div class="topicImg">
        <img src="/assets/image/img_test.jpg">
      </div>
      <div class="topicTitle">
        <p class="words2">一、上图中文物的名称叫做什么上图中文物的名称叫做什么上图中文物的名称叫做什么？</p>
      </div>
      <ul class="topicOptions">
        <li>
          <span>
            <s>A</s>答案一</span>

          <span class="inp-radio"></span>
        </li>
        <li>
          <span>
            <s>B</s>答案二</span>
          <span class="inp-radio"></span>
        </li>
        <li>
          <span>
            <s>C</s>答案三</span>
          <span class="inp-radio"></span>
        </li>
        <li>
          <span>
            <s>D</s>答案最多八个文字</span>
          <span class="inp-radio"></span>
        </li>
      </ul>
      <div class="topicState">
        <div class="time fl">
          <img src="/assets/image/bell.png">
          <span>剩余:</span>
          <s id="countdownTime">90</s>
          <span>秒</span>
        </div>
        <div class="num fr">
          <img src="/assets/image/hourglass.png">
          <s>1</s>
          <span>/20</span>
        </div>
      </div>
    </div>
    <div th:if="${code}==1" th:text="${msg}" class="topicTitle">请重试</div>
    <div class="popbg">
      <div class="popBox bounceInUp">
        <div>
          <p>转发</p>
          <!--<p>意见反馈</p>-->
        </div>
        <div>
          <p>取消</p>
        </div>
      </div>
    </div>
    <div class="tipsBox"></div>
  </div>
  <!-- Jquery -->
  <script src="/assets/lib/jquery.min.js"></script>
  <script src="/assets/js/CXJSBridge.js"></script>
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/app.utils.js"></script>
  <script src="/assets/js/quizUtil.js"></script>
  <script src="/assets/js/web.storage.util.js"></script>
  <script src="/assets/js/xback.js"></script>
  <script src="/assets/lib/touchwipe.js"></script>
  <script src="/assets/js/autoSize.js"></script>
  <script src="/assets/js/common.js"></script>
  <script type="text/javascript">
    answerAdaption();
    answerSelect();
    QuizUtil.addIphoneHeight();
    XBack.init();
    XBack.listen(function () {});
    var agent = navigator.userAgent.toLowerCase(); //检测是否是ios
    $("body").on("touchstart", function (e) {
      startX = e.originalEvent.changedTouches[0].pageX,
        startY = e.originalEvent.changedTouches[0].pageY;
    });
    $("body").on("touchmove", function (e) {
      moveEndX = e.originalEvent.changedTouches[0].pageX,
        moveEndY = e.originalEvent.changedTouches[0].pageY,
        X = moveEndX - startX,
        Y = moveEndY - startY;
      if (X > 0) {
        e.preventDefault();
      }
    });
    var preHandler = function (e) { e.preventDefault(); }
    // $('.headl').click(function () {
    //   if ('' != '' && parseInt('') > 10000) {
    //     window.location.href = "/app/quiz//customChallenge";
    //   } else {
    //     window.location.href = "/html-group/newapp/static/main.html";
    //   }
    // });

    // 分享按钮
    $('.share').click(function () {
      $('.popbg').show();
      document.querySelector('.wrapMax').addEventListener('touchmove', preHandler, false);
      event.stopPropagation(); //阻止事件向上冒泡
    });
    $('.popbg').bind('click', function () {
      document.querySelector('.wrapMax').removeEventListener('touchmove', preHandler, false);
      $('.popbg').hide();
    });
    $('.popBox').on('click', 'p', function () {
      var text = $(this).text();
      if (text == '转发') {
        //AppUtils.snapshot(1,'');
        QuizUtil.share();
      }
      if (text == '意见反馈') {
        AppUtils.clientOpenTopicList(QuizUtil.circleId, '');
      }
      document.querySelector('.wrapMax').removeEventListener('touchmove', preHandler, false);
      $('.popbg').hide();
    });

    addStorageData("quiz_answer", "answer");
    function answerexit() {
        var val = $.trim(getStorageVal("quiz_answer"));
        if (val == "answer") {
            delStorageVal("quiz_answer");
            AppUtils.closeView();
        }
    }
    $("#test").click(function () {
        window.location.href = "/result";
    });
  </script>
<script type="text/javascript" th:if="${code} == 0">
    $(function(){
        $(".countdown").hide();
        var url = "/getPaperInfoByAjax";
        $.ajax({
            type: 'POST',
            url: url,
            dataType: "json",
            success: function (returnData, textStatus)
            {
                app.noticeRefresh();
                var code = returnData.code;
                if (code == 0)
                {
                    var paper = returnData.paper;
                    var paperId = paper.paperId;
                    questions = paper.questions;
                    paperData.paper_id = paperId;
                    questionsLength = questions.length;
                    getQuestionsAnswer(questions);
                }
                else if (code = 1)
                {
                    $(".topicTitle").html(returnData.msg);
                }
            },
            error:function () {
                app.showMsg("加载题目失败，请重试！！！");
            }
        });

    })

    var paperData = {};
    var count = 0;//记录是多少题
    var questionsData = {};
    var questionsLength ;//总题数
    var questions;
    function getQuestionsAnswer(questions)
    {
        if (questions.length == 0)
        {
            //拿着答案提交
            paperData["questions"] = JSON.stringify(questionsData);
            $.ajax({
                type: 'POST',
                url: "/subPaperInfoByAjax",
                data: paperData,
                dataType: "json",
                success: function (data, textStatus) {

                    var code = data.code;
                    if (code == 0)
                    {
                        window.location.href = "/result";
                    }
                    else
                    {
                        $(".topicTitle").html(returnData.msg);
                    }
                },
                error:function () {
                    app.showMsg("阅卷失败，请重试！！！");
                }
            });
        }
        else
        {
            count ++;
            timer (questions[0]);
            questions.shift();
        }
    }

    function timer(question){

        var question_id = question.questionId;
        var describes = question.describes;
        var answerTime = question.answerTime;
        var options = question.options;
        $(".topic").html(count+"、"+describes);
        questionsData[question_id]='';
        for (var i=1;i <= options.length;i++)
        {
            var option = options[i-1];
            var answer = option.answer;
            var chooseId = option.chooseId;
            $(".fadeInDiv").css("display","none");
            $(".answerOption ul").append("<li>"+String.fromCharCode(i+64)+" "+answer+"\n" +
                "<input type=\"radio\" name=\"answerOption\" value="+chooseId+">\n" +
                "<div class=\"clear\"></div>\n" +
                " </li>");
            $(".fadeInDiv").fadeIn();
        }
        $(".answerPageContent .answerOption ul li").click(function(){
            $("input[type='radio']").removeAttr("checked");
            $("input[type='radio']").removeClass("select");
            $(this).find("input[type='radio']").prop("checked",true);
            $(this).find("input[type='radio']").addClass("select");
            if ($(".select").length > 0)
            {
                intDiff = 0;
            }
        });
        $("#questionCount").html(count+"/"+questionsLength);
        var intDiff = answerTime - 1;
        var interval =setInterval(function(){
            if(intDiff == 0)
            {
                clearInterval(interval);
                var choose = $(".select").attr("value");
                choose = choose == undefined ?"":choose;
                questionsData[question_id] = choose;
                $(".topic").empty();
                $(".answerOption ul").empty();
                getQuestionsAnswer(questions);
            }
            var day=0,
                hour=0,
                minute=0,
                second=answerTime;//时间默认值
            if(intDiff > 0)
            {
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }

            $('#countdownTime').html('<s></s>'+second+' 秒');
            intDiff--;
        }, 1000);
    }
</script>
</body>

</html>