<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>博物馆知识竞赛</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <meta name="format-detection" content="telephone=no, email=no">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <link rel="stylesheet" href="/assets/css/public.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <style type="text/css">
    .divline
    {
      margin-top:2rem ;
    }
  </style>
</head>

<body onselectstart="return false" class="adaptive">
  <div class="wrapMax">
    <div class="head">
      <p class="headTitle">博物馆知识竞赛</p>
      <div class="headr">
        <div class="exit fr" onclick="QuizUtil.exitApp();">
          <img src="/assets/image/exit.png">
        </div>
        <div class="share fr">
          <img src="/assets/image/share.png">
        </div>
      </div>
    </div>
    <div class="main">
      <div class="tit"></div>
      <div class="begin">
        <ul>
          <li th:class="${class1==null?'state-3-1':class1}" class="state-3-1">中国博物馆</li>
          <li th:class="${class2==null?'state-3-2':class2}" class="state-3-2">世界博物馆</li>
          <li th:class="${class3==null?'state-3-3':class3}" class="state-3-3">中国文物</li>
          <li th:class="${class4==null?'state-3-4':class4}" class="state-3-4">世界文物</li>
          <li th:class="${class5==null?'state-3-5':class5}" class="state-3-5">上下五千年</li>
        </ul>
        <div>
        <a th:if="${code} == 0" href="javascript:;" id="startGameBtn" >开始闯关</a>
          <div th:if="${code} == 1" class="divline"></div>
        <span  th:text="${msg}"></span>
        <span th:if="${chance} and ${code} == 0">当日闯关机会
          <s th:text="${chance}">0</s>/2</span>
        </div>
        <div th:if="${ranking}" class="ranking">
          <div class="rankingList">
            <span></span><th th:text="${ranking}"></th></div>
          <div class="rankingGrade rankingGrade3"></div>
        </div>
      </div>
      <div class="rule">
        <a href="javascript:;" id="shareBtn">分享活动</a>
      </div>
    </div>
    <div class="popbg">
      <div class="popBox bounceInUp">
        <div>
          <p>转发</p>
          <!--<p>意见反馈</p>-->
        </div>
        <div>
          <p>取消</p>
        </div>
      </div>
    </div>
    <div class="tipsBox"></div>
  </div>
  <!-- Jquery -->
  <script src="/assets/lib/jquery.min.js"></script>
  <script src="/assets/js/CXJSBridge.js"></script>
  <script src="/assets/js/app.utils.js"></script>
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/jquery.md5.js"></script>
  <script src="/assets/js/quizUtil.js"></script>
  <script src="/assets/js/web.storage.util.js"></script>
  <script src="/assets/js/xback.js"></script>
  <script src="/assets/lib/touchwipe.js"></script>
  <script src="/assets/js/autoSize.js"></script>
  <script src="/assets/js/common.js"></script>
  <script type="text/javascript">
    mainAdaption();
    QuizUtil.addIphoneHeight();
    XBack.init();
    XBack.listen(function () {});
    var agent = navigator.userAgent.toLowerCase(); //检测是否是ios
    $("body").on("touchstart", function (e) {
      startX = e.originalEvent.changedTouches[0].pageX,
        startY = e.originalEvent.changedTouches[0].pageY;
    });
    $("body").on("touchmove", function (e) {
      moveEndX = e.originalEvent.changedTouches[0].pageX,
        moveEndY = e.originalEvent.changedTouches[0].pageY,
        X = moveEndX - startX,
        Y = moveEndY - startY;
      if (X > 0) {
        e.preventDefault();
      }
    });
    var preHandler = function (e) { e.preventDefault(); }

    // 分享按钮
    $('.share').click(function () {
      $('.popbg').show();
      document.querySelector('.wrapMax').addEventListener('touchmove', preHandler, false);
      event.stopPropagation(); //阻止事件向上冒泡
    });
    $('.popbg').bind('click', function () {
      document.querySelector('.wrapMax').removeEventListener('touchmove', preHandler, false);
      $('.popbg').hide();
    });
    $('.popBox').on('click', 'p', function () {
      var text = $(this).text();
      if (text == '转发') {
        //AppUtils.snapshot(1,'');
        QuizUtil.share();
      }
      if (text == '意见反馈') {
        AppUtils.clientOpenTopicList(QuizUtil.circleId, '');
      }
      document.querySelector('.wrapMax').removeEventListener('touchmove', preHandler, false);
      $('.popbg').hide();
    });
  </script>
<script type="text/javascript">
    delStorageVal("quize_main");
    app.bindRefresh(function () {
        var storage = window.localStorage;
        if (storage["page_refresh_flag"] == 1)
        {
            delete storage.page_refresh_flag;
            window.location.href= "/index";
        }
    })
    $("#shareBtn").click(function () {
        app.transmitWebUrl("读书节知识竞赛","https://lnlib-basicedu.chaoxing.com//page/index.html","https://lnlib-basicedu.chaoxing.com/assets/image/share_icon.jpg")
    });
    $("#startGameBtn").click(function () {
        app.openUrlNoBar("/competition","");
    });
</script>
</body>

</html>